<p id="notice"><%= notice %></p>
<div class="tab-content" id="myTabContent" style="padding-left: 20%">
  <div class="tab-pane fade show active" id="grid" role="tabpanel" aria-labelledby="grid-tab">
    <h1 >All Categories</h1>
    <div class="products_section">
      <div class="row">
        <!--        <div class="col-lg-4 col-md-6 col-xs-12">-->
        <table class="col-lg-4 col-md-6 col-xs-12">
          <thead class="product_info2">
          <tr>
            <th><h2>Name</h2></th>
            <th colspan="1"></th>
          </tr>
          </thead>
          <tbody class="product_info2">
          <% @categories.each do |category| %>
            <tr>
              <!--                <div class="product_info2">-->
              <td><%= category.cat_name %></td>
              <td><%= link_to 'Show', category %></td>
              <td><%= link_to 'Edit', edit_category_path(category) %></td>
              <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <!--                </div>-->
            </tr>
          <% end %>
          </tbody>
        </table>
        <!--        </div>-->
      </div>
    </div>
    <!--<br>-->

    <%#= link_to 'New Category', new_category_path %>
  </div>
</div>
