<p id="notice"><%= notice %></p>
  <div class="product_info2">
  <p>
    <strong>Name:</strong>
    <%= @category.cat_name %>
  </p>
  <p>
    <strong>Products:</strong>
    <% @category.products.each do |pro| %>
      <%= pro.pro_name %>
    <%end%>
  </p>
  <%= link_to 'Edit', edit_category_path(@category) %> |
  <%= link_to 'Back', categories_path %>
</div>