<!DOCTYPE html>
<html>
  <head>
    <title>fuzzyumbrella</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--Bootstrap-->
    <link  href="http://amplifythemes.com/preview/cartzee/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- Bootstrap -->
    <script src="http://amplifythemes.com/preview/cartzee/assets/js/bootstrap.min.js"></script>
    <!--Revolution Slider-->
    <link  href="http://amplifythemes.com/preview/cartzee/assets/revolution/css/layers.css" rel="stylesheet" type="text/css">
    <link  href="http://amplifythemes.com/preview/cartzee/assets/revolution/css/navigation.css" rel="stylesheet" type="text/css">
    <link  href="http://amplifythemes.com/preview/cartzee/assets/revolution/css/settings.css" rel="stylesheet" type="text/css">
    <!--font Awesome-->
    <link  href="http://amplifythemes.com/preview/cartzee/assets/css/fontawesome-all.css" rel="stylesheet" type="text/css">
    <!--Owl-Carousel-->
    <link rel="stylesheet" href="http://amplifythemes.com/preview/cartzee/assets/css/owl.carousel.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="http://amplifythemes.com/preview/cartzee/assets/css/owl.template.min.html" rel="stylesheet" type="text/css">
    <!--Custom Style Sheet-->
    <link  href="http://amplifythemes.com/preview/cartzee/assets/css/style.css" rel="stylesheet" type="text/css">
    <!--Responsive file-->
    <link  href="http://amplifythemes.com/preview/cartzee/assets/css/responsive.css" rel="stylesheet" type="text/css">

    <!-- jQuery -->
    <script src="http://amplifythemes.com/preview/cartzee/assets/js/jquery.js"></script>
    <!-- REVOLUTION SLIDER -->
    <script src="http://amplifythemes.com/preview/cartzee/assets/revolution/js/jquery.templatepunch.tools.min.html"></script>
    <script src="http://amplifythemes.com/preview/cartzee/assets/revolution/js/jquery.templatepunch.revolution.min.html"></script>
    <script src="http://amplifythemes.com/preview/cartzee/assets/revolution/js/revolution.extension.actions.min.js"></script>
    <script src="http://amplifythemes.com/preview/cartzee/assets/revolution/js/revolution.extension.carousel.min.js"></script>
    <script src="http://amplifythemes.com/preview/cartzee/assets/revolution/js/revolution.extension.kenburn.min.js"></script>
    <script src="http://amplifythemes.com/preview/cartzee/assets/revolution/js/revolution.extension.layeranimation.min.js"></script>
    <script src="http://amplifythemes.com/preview/cartzee/assets/revolution/js/revolution.extension.migration.min.js"></script>
    <script src="http://amplifythemes.com/preview/cartzee/assets/revolution/js/revolution.extension.navigation.min.js"></script>
    <script src="http://amplifythemes.com/preview/cartzee/assets/revolution/js/revolution.extension.parallax.min.js"></script>
    <script src="http://amplifythemes.com/preview/cartzee/assets/revolution/js/revolution.extension.slideanims.min.js"></script>
    <script src="http://amplifythemes.com/preview/cartzee/assets/revolution/js/revolution.extension.video.min.js"></script>
    <script src="http://amplifythemes.com/preview/cartzee/assets/revolution/js/revolution.initialize.js"></script>
    <!-- REVOLUTION SLIDER SCRIPT -->
    <script src="http://amplifythemes.com/preview/cartzee/assets/js/main-slider-script.js"></script>
    <!-- Carousel SCRIPT -->
    <script src="http://amplifythemes.com/preview/cartzee/assets/js/owl.carousel.js"></script>
    <!-- Custom SCRIPT -->
    <script src="http://amplifythemes.com/preview/cartzee/assets/js/datecounter.js"></script>
    <script src="http://amplifythemes.com/preview/cartzee/assets/js/custom.js"></script>
  </head>

  <body>

  <!-- Start Header -->
  <header class="main_header header-2">
    <div class="container">
      <div class="row">
        <div class="mobile-men-btn" id="responsive_nav">
          <a href="#"><i class="fa fa-bars"></i></a>
        </div>
      </div>
    </div>
    <nav class="header2-nav header3-nav responsive_none">
      <div class="container">
        <ul style="padding-left: 30%">
          <li><%= link_to 'HOME', root_path, class: "active" %></li>
          <li><a href="#">Collections</a>
            <ul>
<!--              <li><a href="products">Products</a></li>-->
              <li><%= link_to 'Products', products_path%></li>
              <li><%= link_to 'Categories', categories_path%></li>
<!--              <li><a href="categories">Categories</a></li>-->
            </ul>
          </li>
          <% if current_user %>
            <li><%= link_to 'Edit Personal info  ', edit_registration_path(current_user)%></li>
            <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
          <%else %>
            <li><%= link_to 'login', new_user_session_path %></li>
            <li><%= link_to 'Register', new_user_registration_path %></li>
<!--          <li><a href="#">login</a></li>-->
<!--          <li><a href="#">Register</a></li>-->
          <%end %>
        </ul>
      </div>
    </nav>
  </header>

  <!-- End Header -->
    <%= yield %>
    <!-- Main Footer -->
    <footer class="main-footer">
      <div class="container">
        <div class="footer_widget">
          <div class="row">

            <div class="col-lg-3 col-md-6 col-xs-12">
              <h4 class="widget-title">Contact Us</h4>
              <ul class="widget-link">
                <li><a href="#"><span>Office:</span> 12 Fake Street,New York</a></li>
                <li><a href="#"><span>Phone:</span> (08) 8827 633354</a></li>
                <li><a href="#"><span>Fax:</span> 08) 08 4752 1499</a></li>
                <li><a href="#"><span>Mail:</span> support.goaltemplate.com</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer_btm">
          <p>© 2019 <span>fuzzyumbrella</span> by <span>Samar/fuzzyumbrella</span>. All Rights Reserved.</p>
        </div>
      </div>
    </footer>
    <!-- End Footer -->
  </body>
</html>
